# Ignore Python cache files 
*.pyc 
__pycache__/

# Exclude the 'venv' directory (assuming you're using virtualenv)
/venv/

# Exclude command history file│
command_history.json

# Ignore other common IDE metadata files
.vscode/
.idea/
.pycharm/

